@use "../abstracts";

body {
  margin: 0;
  font-weight: abstracts.$fontWeight500;
}

.bg-dark {
  background-color: abstracts.$secondary;
}

.main-nav {
  a.router-link-exact-active {
    color: abstracts.$primary;
  }
}
