@use "../abstracts";

body {
  font-family: abstracts.$fontAvenir;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
}

code {
  font-family: abstracts.$fontMSourceCodePro;
}

.main-nav {
  a {
    font-weight: bold;
    color: #2c3e50;
  }
}

.main-nav-item {
  text-decoration: none;
  margin-right: 0.5rem;
  &:hover {
    text-decoration: underline;
  }
}
